@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 163 64% 5%;
    
    --card: 0 0% 100%;
    --card-foreground: 163 64% 5%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 163 64% 5%;
    
    --primary: 160 84% 39%;
    --primary-foreground: 355.7 100% 97.3%;
    
    --secondary: 157 60% 94%;
    --secondary-foreground: 160 84% 39%;
    
    --muted: 157 60% 94%;
    --muted-foreground: 163 24% 40%;
    
    --accent: 157 60% 94%;
    --accent-foreground: 160 84% 39%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 158 60% 89%;
    --input: 158 60% 89%;
    --ring: 160 84% 39%;
  
    --radius: 0.5rem;
  }

  .dark {
    --background: 163 64% 5%;
    --foreground: 158 60% 89%;
    
    --card: 163 64% 5%;
    --card-foreground: 158 60% 89%;
    
    --popover: 163 64% 5%;
    --popover-foreground: 158 60% 89%;
    
    --primary: 160 84% 39%;
    --primary-foreground: 355.7 100% 97.3%;
    
    --secondary: 157 30% 13%;
    --secondary-foreground: 158 60% 89%;
    
    --muted: 157 30% 13%;
    --muted-foreground: 163 24% 60%;
    
    --accent: 157 30% 13%;
    --accent-foreground: 158 60% 89%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 158 60% 89%;
    
    --border: 157 30% 13%;
    --input: 157 30% 13%;
    --ring: 160 84% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.form-control{
  @apply relative flex h-10 w-fit items-center justify-center border-y border-r border-input text-sm transition-all first:rounded-l-md first:border-l last:rounded-r-md !important;
  width: 100% !important;
  height: 50px !important;
  font-family: var(--main-font), sans-serif !important;
}

.flag-dropdown {
  @apply flex h-10 w-[40px] bg-transparent border-none p-0 !important; 
}

.flag-dropdown {
  @apply flex h-[50px] w-[40px] bg-transparent border-none p-0 !important; 
}